body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.nav-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.nav-studiolink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-hover :hover {
  color: #404bbf;
}

.nav-studiolink :focus {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.adress-mail-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-mail-tel :hover {
  color: #404bbf;
}

.adress-mail-tel :focus {
  color: #404bbf;
}
