body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.navStudioPortfolioContacts {
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.adressContacts {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#h1effective {
  color: #ffffff;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56;
  line-height: 60;
}

.OrderButton {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.about_places h3 {
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}

.about_places p {
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

#h2OurTeam {
  color: #2e2f42;
  line-height: 40px;
  font-size: 36px;
  font-weight: 700;
}

.Our_Team ul h3 {
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}

.Our_Team ul p {
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

#h2Portfolio {
  color: #2e2f42;
  line-height: 40px;
  font-size: 36px;
  font-weight: 700;
}

.firstOurPortfolio ul h3 {
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}

.firstOurPortfolio ul p {
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.secondOurPortfolio ul h3 {
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}

.secondOurPortfolio ul p {
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

#footerWeb {
  color: #4d5ae5;
  line-height: 21px;
  font-size: 18px;
  font-weight: 700;
}

#footerStusio {
  color: #f4f4fd;
  line-height: 21px;
  font-size: 18px;
  font-weight: 700;
}

.footerplace {
  color: #e7e9fc;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
